{
  "openapi": "3.1.0",
  "info": {
    "title": "chatform API",
    "description": "Agentic chatbot forms platform. /p/* = public respondent surface, /v1/* = developer API (API key), /api/* = dashboard (session auth).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chatform.in",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "v1",
      "description": "Developer API — API key auth"
    },
    {
      "name": "public",
      "description": "Respondent chat surface"
    },
    {
      "name": "dashboard",
      "description": "Dashboard — session auth"
    },
    {
      "name": "billing",
      "description": "Plans, usage and checkout"
    },
    {
      "name": "health",
      "description": "Service health"
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_live_…",
        "description": "A server-side secret key. Never send one from a browser — a request carrying an Origin header is refused for this reason."
      },
      "publishableKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pk_live_…",
        "description": "A browser-safe key, restricted to the origins listed on it."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "The same keys, in the header most integrators reach for first."
      },
      "respondentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-respondent-token",
        "description": "Scoped to one chat session, and it expires. This is what a browser should hold."
      },
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "The dashboard's own session."
      }
    }
  },
  "paths": {
    "/api/billing/plans": {
      "get": {
        "operationId": "getApiBillingPlans",
        "tags": [
          "billing"
        ],
        "summary": "Public plan catalogue",
        "responses": {
          "200": {
            "description": "Plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tagline": {
                            "type": "string"
                          },
                          "priceMonthlyCents": {
                            "type": "number"
                          },
                          "priceYearlyCents": {
                            "type": "number"
                          },
                          "priceYearlyPerMonthCents": {
                            "type": "number"
                          },
                          "yearlySavingPercent": {
                            "type": "number"
                          },
                          "seatPriceCents": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "limits": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "checkoutReady": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "tagline",
                          "priceMonthlyCents",
                          "priceYearlyCents",
                          "priceYearlyPerMonthCents",
                          "yearlySavingPercent",
                          "seatPriceCents",
                          "currency",
                          "features",
                          "limits",
                          "checkoutReady"
                        ]
                      }
                    },
                    "features": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "blurb": {
                            "type": "string"
                          },
                          "minPlan": {
                            "type": "string"
                          },
                          "soon": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "label",
                          "blurb",
                          "minPlan",
                          "soon"
                        ]
                      }
                    },
                    "limits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "label",
                          "unit",
                          "mode"
                        ]
                      }
                    }
                  },
                  "required": [
                    "plans",
                    "features",
                    "limits"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "health"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "env": {
                      "type": "string"
                    },
                    "db": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "ok",
                    "env",
                    "db",
                    "ts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/p/forms/{slug}/config": {
      "get": {
        "operationId": "getPFormsBySlugConfig",
        "tags": [
          "public"
        ],
        "summary": "Public rendering config for a published form",
        "responses": {
          "200": {
            "description": "Public form config"
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "security": [
          {
            "respondentToken": []
          }
        ]
      }
    },
    "/p/forms/{slug}/sessions": {
      "post": {
        "operationId": "postPFormsBySlugSessions",
        "tags": [
          "public"
        ],
        "summary": "Create a chat session for a published form",
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "sseUrl": {
                      "type": "string"
                    },
                    "respondentToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sessionId",
                    "sseUrl",
                    "respondentToken"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Form closed or captcha failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "turnstileToken": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "embed": {
                    "type": "object",
                    "properties": {
                      "origin": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "security": [
          {
            "respondentToken": []
          }
        ]
      }
    },
    "/p/sessions/{id}/uploads/intent": {
      "post": {
        "operationId": "postPSessionsByIdUploadsIntent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "mime": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120
                  },
                  "size": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 26214400
                  }
                },
                "required": [
                  "ref",
                  "filename",
                  "mime",
                  "size"
                ]
              }
            }
          }
        },
        "tags": [
          "public"
        ],
        "summary": "Register an upload — returns a fileId to PUT against",
        "responses": {
          "200": {
            "description": "Intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "fileId",
                    "uploadUrl"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Too large"
          },
          "415": {
            "description": "Unsupported type"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "respondentToken": []
          }
        ]
      }
    },
    "/p/sessions/{id}/uploads/{fileId}/confirm": {
      "post": {
        "operationId": "postPSessionsByIdUploadsByFileIdConfirm",
        "tags": [
          "public"
        ],
        "summary": "Confirm an upload — flips pending → confirmed and notifies the session",
        "responses": {
          "200": {
            "description": "Confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Not uploaded"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "fileId",
            "required": true
          }
        ],
        "security": [
          {
            "respondentToken": []
          }
        ]
      }
    },
    "/api/auth-providers": {
      "get": {
        "operationId": "getApiAuthProviders",
        "tags": [
          "dashboard"
        ],
        "summary": "Configured sign-in providers",
        "responses": {
          "200": {
            "description": "Providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailPassword": {
                      "type": "boolean"
                    },
                    "google": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "emailPassword",
                    "google"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/auth/ok": {
      "get": {
        "operationId": "getApiAuthOk",
        "tags": [
          "dashboard"
        ],
        "summary": "Auth liveness check",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms": {
      "get": {
        "operationId": "getApiForms",
        "tags": [
          "dashboard"
        ],
        "summary": "List forms in the active workspace",
        "responses": {
          "200": {
            "description": "Forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "responses": {
                        "type": "number"
                      },
                      "updatedAt": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "slug",
                      "status",
                      "responses",
                      "updatedAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "operationId": "postApiForms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "doc": {}
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "Create a form",
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "responses": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "workingSchema": {},
                    "activeVersion": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "slug",
                    "status",
                    "responses",
                    "updatedAt",
                    "workingSchema",
                    "activeVersion"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}": {
      "delete": {
        "operationId": "deleteApiFormsById",
        "tags": [
          "dashboard"
        ],
        "summary": "Soft-delete a form",
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "get": {
        "operationId": "getApiFormsById",
        "tags": [
          "dashboard"
        ],
        "summary": "Get a form with its working document",
        "responses": {
          "200": {
            "description": "Form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "responses": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "workingSchema": {},
                    "activeVersion": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "slug",
                    "status",
                    "responses",
                    "updatedAt",
                    "workingSchema",
                    "activeVersion"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}/doc": {
      "put": {
        "operationId": "putApiFormsByIdDoc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc": {},
                  "theme": {},
                  "settings": {}
                },
                "required": [
                  "doc"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "Update the working document (autosave target)",
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "issues": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "ok",
                    "issues"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}/publish": {
      "post": {
        "operationId": "postApiFormsByIdPublish",
        "tags": [
          "dashboard"
        ],
        "summary": "Publish the working document as a new version",
        "responses": {
          "200": {
            "description": "Published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "number"
                    },
                    "stripped": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "feature": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "requiredPlan": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "feature",
                          "label",
                          "requiredPlan"
                        ]
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "version",
                    "stripped"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "A plan limit refuses the publish",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Lint errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/ai/generate-form": {
      "post": {
        "operationId": "postApiAiGenerateForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 2000
                  },
                  "questionCount": {
                    "default": 6,
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 20
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "Generate a form document from a natural-language prompt",
        "responses": {
          "200": {
            "description": "Generated FormDoc + lint issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc": {},
                    "issues": {
                      "type": "array",
                      "items": {}
                    },
                    "tokens": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "doc",
                    "issues",
                    "tokens"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Generation failed after retries"
          },
          "503": {
            "description": "AI not configured"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/ai/generate-form/stream": {
      "post": {
        "operationId": "postApiAiGenerateFormStream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 2000
                  },
                  "questionCount": {
                    "default": 6,
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 20
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "Generate a form and create it, streaming progress as server-sent events",
        "description": "Server-sent events: `stage` (a step started or finished), `question` (one drafted question), `sources` (pages read), `done` (the created form), `error`. The form is created and saved server-side, so a `done` event means it exists.",
        "responses": {
          "200": {
            "description": "text/event-stream"
          },
          "503": {
            "description": "AI not configured"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/ai/edit-form": {
      "post": {
        "operationId": "postApiAiEditForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 1000
                  },
                  "history": {
                    "default": [],
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "text": {
                          "type": "string",
                          "maxLength": 2000
                        }
                      },
                      "required": [
                        "role",
                        "text"
                      ]
                    }
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "formId",
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "AI-edit an existing form: add or remove questions, and rewire the flow",
        "deprecated": false,
        "description": "Returns the proposed document without saving it. An edit may add no questions at all — most requests about a working form change the routing.",
        "responses": {
          "200": {
            "description": "The proposed document and what changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc": {},
                    "added": {
                      "type": "number"
                    },
                    "removed": {
                      "type": "number"
                    },
                    "rules": {
                      "type": "number"
                    },
                    "rewired": {
                      "type": "number"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "tokens": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "doc",
                    "added",
                    "removed",
                    "rules",
                    "rewired",
                    "summary",
                    "tokens"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The model proposed nothing that would change the form"
          },
          "502": {
            "description": "The model failed upstream"
          },
          "503": {
            "description": "AI not configured"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/ai/add-blocks": {
      "post": {
        "operationId": "postApiAiAddBlocks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 1000
                  },
                  "history": {
                    "default": [],
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "text": {
                          "type": "string",
                          "maxLength": 2000
                        }
                      },
                      "required": [
                        "role",
                        "text"
                      ]
                    }
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "formId",
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "dashboard"
        ],
        "summary": "Deprecated alias of /ai/edit-form, for bundles loaded before the rename",
        "deprecated": true,
        "description": "Returns the proposed document without saving it. An edit may add no questions at all — most requests about a working form change the routing.",
        "responses": {
          "200": {
            "description": "The proposed document and what changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc": {},
                    "added": {
                      "type": "number"
                    },
                    "removed": {
                      "type": "number"
                    },
                    "rules": {
                      "type": "number"
                    },
                    "rewired": {
                      "type": "number"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "tokens": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "doc",
                    "added",
                    "removed",
                    "rules",
                    "rewired",
                    "summary",
                    "tokens"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The model proposed nothing that would change the form"
          },
          "502": {
            "description": "The model failed upstream"
          },
          "503": {
            "description": "AI not configured"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}/submissions": {
      "get": {
        "operationId": "getApiFormsByIdSubmissions",
        "tags": [
          "dashboard"
        ],
        "summary": "List submissions (with answers + transcripts)",
        "responses": {
          "200": {
            "description": "Submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "startedAt": {
                        "type": "number"
                      },
                      "completedAt": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "durationMs": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "answers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "blockRef": {
                              "type": "string"
                            },
                            "blockType": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": [
                            "blockRef",
                            "blockType",
                            "value"
                          ]
                        }
                      },
                      "transcript": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "role",
                            "content",
                            "createdAt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id",
                      "status",
                      "startedAt",
                      "completedAt",
                      "durationMs",
                      "answers",
                      "transcript"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "completed",
                "abandoned",
                "in_progress"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}/submissions/export": {
      "get": {
        "operationId": "getApiFormsByIdSubmissionsExport",
        "tags": [
          "dashboard"
        ],
        "summary": "Export submissions as CSV",
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/forms/{id}/analytics": {
      "get": {
        "operationId": "getApiFormsByIdAnalytics",
        "tags": [
          "dashboard"
        ],
        "summary": "Analytics summary (counts + per-block funnel)",
        "responses": {
          "200": {
            "description": "Summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "views": {
                      "type": "number"
                    },
                    "starts": {
                      "type": "number"
                    },
                    "completed": {
                      "type": "number"
                    },
                    "abandoned": {
                      "type": "number"
                    },
                    "completionRate": {
                      "type": "number"
                    },
                    "avgDurationMs": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "perBlock": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockRef": {
                            "type": "string"
                          },
                          "blockType": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "answered": {
                            "type": "number"
                          },
                          "answerRate": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "blockRef",
                          "blockType",
                          "title",
                          "answered",
                          "answerRate"
                        ]
                      }
                    },
                    "locked": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "lockedContext": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "feature": {
                              "type": "string"
                            },
                            "requiredPlan": {
                              "type": "string"
                            },
                            "questionCount": {
                              "type": "number"
                            },
                            "worstBlockTitle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "worstBlockIndex": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "feature",
                            "requiredPlan",
                            "questionCount",
                            "worstBlockTitle",
                            "worstBlockIndex"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "views",
                    "starts",
                    "completed",
                    "abandoned",
                    "completionRate",
                    "avgDurationMs",
                    "perBlock",
                    "locked",
                    "lockedContext"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/forms/{id}/responses": {
      "post": {
        "operationId": "postV1FormsByIdResponses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "default": {},
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "complete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "mode": {
                    "default": "flow",
                    "type": "string",
                    "enum": [
                      "flow",
                      "free"
                    ]
                  },
                  "expiresIn": {
                    "default": 86400,
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 2592000
                  },
                  "respondent": {
                    "type": "object",
                    "properties": {
                      "ipHash": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 8
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 300
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Open a response (optionally with answers, optionally completing it)",
        "responses": {
          "201": {
            "description": "Response"
          },
          "404": {
            "description": "Form not found"
          },
          "422": {
            "description": "An answer was rejected, or required questions are unanswered"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "get": {
        "operationId": "getV1FormsByIdResponses",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "test",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "updated_since",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "ending_ref",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "created",
              "type": "string",
              "enum": [
                "created",
                "updated"
              ]
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List a form's responses, newest first",
        "responses": {
          "200": {
            "description": "A page of responses"
          },
          "400": {
            "description": "Malformed cursor"
          },
          "402": {
            "description": "Reading partial responses needs a plan that includes them"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers": {
      "post": {
        "operationId": "postV1ResponsesByIdAnswers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "answers": {
                        "minItems": 1,
                        "maxItems": 200,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ref": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": [
                            "ref",
                            "value"
                          ]
                        }
                      }
                    },
                    "required": [
                      "answers"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "ref": {
                        "type": "string"
                      },
                      "value": {}
                    },
                    "required": [
                      "ref",
                      "value"
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Record one or more answers on an open response",
        "responses": {
          "200": {
            "description": "Updated response"
          },
          "404": {
            "description": "Response not found"
          },
          "409": {
            "description": "The response is no longer open"
          },
          "422": {
            "description": "An answer was rejected"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers/{ref}": {
      "delete": {
        "operationId": "deleteV1ResponsesByIdAnswersByRef",
        "tags": [
          "v1"
        ],
        "summary": "Retract one answer, moving the flow back to it",
        "responses": {
          "200": {
            "description": "Updated response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "ref",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/complete": {
      "post": {
        "operationId": "postV1ResponsesByIdComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endingRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Complete a response",
        "responses": {
          "200": {
            "description": "Completed response with its ending"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Already finished"
          },
          "422": {
            "description": "Required questions are unanswered"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/abandon": {
      "post": {
        "operationId": "postV1ResponsesByIdAbandon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Abandon an unfinished response",
        "responses": {
          "200": {
            "description": "Abandoned response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "operationId": "getV1ResponsesById",
        "tags": [
          "v1"
        ],
        "summary": "Read one response",
        "responses": {
          "200": {
            "description": "Response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/next": {
      "get": {
        "operationId": "getV1ResponsesByIdNext",
        "tags": [
          "v1"
        ],
        "summary": "Where the flow is waiting on this response",
        "responses": {
          "200": {
            "description": "The next question, or the ending"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/blocks": {
      "get": {
        "operationId": "getV1Blocks",
        "tags": [
          "v1"
        ],
        "summary": "Every block type: config schema, what you receive, what you send",
        "responses": {
          "200": {
            "description": "The block catalog"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/blocks/{type}": {
      "get": {
        "operationId": "getV1BlocksByType",
        "tags": [
          "v1"
        ],
        "summary": "One block type",
        "responses": {
          "200": {
            "description": "Block type"
          },
          "404": {
            "description": "No such block type"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "type",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "operationId": "getV1Events",
        "tags": [
          "v1"
        ],
        "summary": "The webhook event catalog",
        "responses": {
          "200": {
            "description": "Events"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getV1Me",
        "tags": [
          "v1"
        ],
        "summary": "Who this key is, what it may do, and what is left of the plan",
        "responses": {
          "200": {
            "description": "Key identity"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "operationId": "getV1Forms",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "default": "published",
              "type": "string",
              "enum": [
                "draft",
                "published",
                "archived",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List forms",
        "responses": {
          "200": {
            "description": "A page of forms"
          },
          "400": {
            "description": "Malformed cursor"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "operationId": "postV1Forms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "doc": {}
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Create a form",
        "responses": {
          "201": {
            "description": "Created"
          },
          "422": {
            "description": "The document is invalid"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}": {
      "get": {
        "operationId": "getV1FormsById",
        "tags": [
          "v1"
        ],
        "summary": "Read a form — its public config, or the document behind it",
        "responses": {
          "200": {
            "description": "Form"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteV1FormsById",
        "tags": [
          "v1"
        ],
        "summary": "Delete a form (soft — responses are kept)",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/doc": {
      "put": {
        "operationId": "putV1FormsByIdDoc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc": {}
                },
                "required": [
                  "doc"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Replace the working document, returning lint issues",
        "responses": {
          "200": {
            "description": "Saved, with issues"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Invalid"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/publish": {
      "post": {
        "operationId": "postV1FormsByIdPublish",
        "tags": [
          "v1"
        ],
        "summary": "Publish the working document as a new immutable version",
        "responses": {
          "200": {
            "description": "Published"
          },
          "402": {
            "description": "A plan limit refuses the publish"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Lint errors"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/analytics": {
      "get": {
        "operationId": "getV1FormsByIdAnalytics",
        "tags": [
          "v1"
        ],
        "summary": "Counts, per-question funnel and answer distributions",
        "responses": {
          "200": {
            "description": "Analytics"
          },
          "402": {
            "description": "The per-question detail needs a plan that includes it"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "getV1Webhooks",
        "tags": [
          "v1"
        ],
        "summary": "List webhook endpoints",
        "responses": {
          "200": {
            "description": "Endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "formId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "consecutiveFailures": {
                        "type": "number"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "secretPreview": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "events",
                      "formId",
                      "active",
                      "consecutiveFailures",
                      "createdAt",
                      "secretPreview"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "operationId": "postV1Webhooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 2000,
                    "format": "uri"
                  },
                  "events": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "formId": {
                    "type": "string",
                    "maxLength": 64
                  }
                },
                "required": [
                  "url",
                  "events"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Create a webhook endpoint — the signing secret is returned ONCE",
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Form not found"
          },
          "422": {
            "description": "Unknown event name"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "operationId": "deleteV1WebhooksById",
        "tags": [
          "v1"
        ],
        "summary": "Delete a webhook endpoint",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "getV1WebhooksByIdDeliveries",
        "tags": [
          "v1"
        ],
        "summary": "Recent delivery attempts, for working out why an endpoint is quiet",
        "responses": {
          "200": {
            "description": "Deliveries"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}/deliveries/{deliveryId}/replay": {
      "post": {
        "operationId": "postV1WebhooksByIdDeliveriesByDeliveryIdReplay",
        "tags": [
          "v1"
        ],
        "summary": "Replay one delivery",
        "responses": {
          "200": {
            "description": "Queued"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Nothing to replay"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deliveryId",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/sessions": {
      "post": {
        "operationId": "postV1FormsByIdSessions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "default": {},
                "type": "object",
                "properties": {
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "expiresIn": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 2592000
                  },
                  "respondent": {
                    "type": "object",
                    "properties": {
                      "ipHash": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 8
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 300
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Open a conversation on a published form",
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "respondentToken": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "streamUrl": {
                      "type": "string"
                    },
                    "greeting": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "question": {
                      "anyOf": [
                        {},
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "sessionId",
                    "respondentToken",
                    "expiresAt",
                    "streamUrl",
                    "greeting",
                    "question"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The form is closed, capped, or over its response ceiling"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/chat/sessions": {
      "post": {
        "operationId": "postV1FormsByIdChatSessions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "default": {},
                "type": "object",
                "properties": {
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "expiresIn": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 2592000
                  },
                  "respondent": {
                    "type": "object",
                    "properties": {
                      "ipHash": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 8
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 300
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Open a conversation on a published form",
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "respondentToken": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "streamUrl": {
                      "type": "string"
                    },
                    "greeting": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "question": {
                      "anyOf": [
                        {},
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "sessionId",
                    "respondentToken",
                    "expiresAt",
                    "streamUrl",
                    "greeting",
[...]
