{
  "openapi": "3.1.0",
  "info": {
    "title": "chatform API",
    "description": "Agentic chatbot forms platform. /p/* = public respondent surface, /v1/* = developer API (API key), /api/* = dashboard (session auth).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chatform.in",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "v1",
      "description": "Developer API — API key auth"
    },
    {
      "name": "public",
      "description": "Respondent chat surface"
    },
    {
      "name": "health",
      "description": "Service health"
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_live_…",
        "description": "A server-side secret key. Never send one from a browser — a request carrying an Origin header is refused for this reason."
      },
      "publishableKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pk_live_…",
        "description": "A browser-safe key, restricted to the origins listed on it."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "The same keys, in the header most integrators reach for first."
      },
      "respondentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-respondent-token",
        "description": "Scoped to one chat session, and it expires. This is what a browser should hold."
      },
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "The dashboard's own session."
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "health"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "env": {
                      "type": "string"
                    },
                    "db": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "ok",
                    "env",
                    "db",
                    "ts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/{id}/responses": {
      "post": {
        "operationId": "postV1FormsByIdResponses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "default": {},
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "pattern": "^[a-zA-Z_][a-zA-Z0-9_.-]{0,60}$"
                    },
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 500
                    }
                  },
                  "complete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "mode": {
                    "default": "flow",
                    "type": "string",
                    "enum": [
                      "flow",
                      "free"
                    ]
                  },
                  "expiresIn": {
                    "default": 86400,
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 2592000
                  },
                  "respondent": {
                    "type": "object",
                    "properties": {
                      "ipHash": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 8
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 300
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Open a response (optionally with answers, optionally completing it)",
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "response"
                    },
                    "form_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in_progress",
                        "completed",
                        "abandoned",
                        "disqualified"
                      ]
                    },
                    "source": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    },
                    "updated_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "duration_ms": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ending_ref": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "abandon_reason": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "channel": {
                              "type": "string",
                              "enum": [
                                "link",
                                "inline",
                                "popup",
                                "side_tab",
                                "fullpage",
                                "embed",
                                "api"
                              ]
                            },
                            "pageUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrer": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrerHost": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "utm": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "language": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "screen": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "enum": [
                                        "mobile",
                                        "tablet",
                                        "desktop",
                                        "bot"
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browser": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browserVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "os": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "osVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "browser",
                                "browserVersion",
                                "os",
                                "osVersion"
                              ]
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "region": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "regionCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "postalCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "latitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "longitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "continent": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "timezone": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "country",
                                "region",
                                "regionCode",
                                "city",
                                "postalCode",
                                "latitude",
                                "longitude",
                                "continent",
                                "timezone"
                              ]
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "asn": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "organization": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "asn",
                                "organization"
                              ]
                            }
                          },
                          "required": [
                            "channel",
                            "pageUrl",
                            "referrer",
                            "referrerHost",
                            "utm",
                            "language",
                            "screen",
                            "timezone",
                            "device",
                            "geo",
                            "network"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "answered": {
                          "type": "number"
                        },
                        "totalEstimate": {
                          "type": "number"
                        },
                        "pct": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "answered",
                        "totalEstimate",
                        "pct"
                      ]
                    },
                    "variables": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "hidden_fields": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "next": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "block": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "ref": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "imageKey": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "media": {}
                              },
                              "required": [
                                "id",
                                "ref",
                                "type",
                                "title",
                                "required"
                              ],
                              "additionalProperties": {}
                            },
                            "ending": {
                              "type": "object",
                              "properties": {
                                "ref": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "bodyMd": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "success",
                                    "screen_out"
                                  ]
                                },
                                "requirements": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "required": [
                                "ref",
                                "title"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "kind"
                          ],
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "complete_ready": {
                      "type": "boolean"
                    },
                    "missing_required": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "ref",
                          "title"
                        ]
                      }
                    },
                    "off_path_answers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "answers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "value": {}
                        },
                        "required": [
                          "ref",
                          "type",
                          "value"
                        ]
                      }
                    },
                    "recorded": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "value": {}
                        },
                        "required": [
                          "ref",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "form_id",
                    "status",
                    "source",
                    "mode",
                    "started_at",
                    "updated_at",
                    "completed_at",
                    "expires_at",
                    "duration_ms",
                    "ending_ref",
                    "abandon_reason",
                    "metadata",
                    "progress",
                    "variables",
                    "hidden_fields",
                    "next",
                    "complete_ready",
                    "missing_required",
                    "off_path_answers"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Form not found"
          },
          "422": {
            "description": "An answer was rejected, or required questions are unanswered"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "get": {
        "operationId": "getV1FormsByIdResponses",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "test",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "updated_since",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "ending_ref",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "created",
              "type": "string",
              "enum": [
                "created",
                "updated"
              ]
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List a form's responses, newest first",
        "responses": {
          "200": {
            "description": "A page of responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "const": "response"
                          },
                          "form_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "in_progress",
                              "completed",
                              "abandoned",
                              "disqualified"
                            ]
                          },
                          "source": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "number"
                          },
                          "completed_at": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "expires_at": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "duration_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ending_ref": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "abandon_reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "metadata": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "channel": {
                                    "type": "string",
                                    "enum": [
                                      "link",
                                      "inline",
                                      "popup",
                                      "side_tab",
                                      "fullpage",
                                      "embed",
                                      "api"
                                    ]
                                  },
                                  "pageUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "referrer": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "referrerHost": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "utm": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "language": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "screen": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "timezone": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "device": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "enum": [
                                              "mobile",
                                              "tablet",
                                              "desktop",
                                              "bot"
                                            ]
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "browser": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "browserVersion": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "os": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "osVersion": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "browser",
                                      "browserVersion",
                                      "os",
                                      "osVersion"
                                    ]
                                  },
                                  "geo": {
                                    "type": "object",
                                    "properties": {
                                      "country": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "region": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "regionCode": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "city": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "postalCode": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "latitude": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "longitude": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "continent": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "timezone": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "country",
                                      "region",
                                      "regionCode",
                                      "city",
                                      "postalCode",
                                      "latitude",
                                      "longitude",
                                      "continent",
                                      "timezone"
                                    ]
                                  },
                                  "network": {
                                    "type": "object",
                                    "properties": {
                                      "asn": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "organization": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "asn",
                                      "organization"
                                    ]
                                  }
                                },
                                "required": [
                                  "channel",
                                  "pageUrl",
                                  "referrer",
                                  "referrerHost",
                                  "utm",
                                  "language",
                                  "screen",
                                  "timezone",
                                  "device",
                                  "geo",
                                  "network"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "progress": {
                            "type": "object",
                            "properties": {
                              "answered": {
                                "type": "number"
                              },
                              "totalEstimate": {
                                "type": "number"
                              },
                              "pct": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "answered",
                              "totalEstimate",
                              "pct"
                            ]
                          },
                          "variables": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "hidden_fields": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "next": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string"
                                  },
                                  "block": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "ref": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "required": {
                                        "type": "boolean"
                                      },
                                      "imageKey": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "media": {}
                                    },
                                    "required": [
                                      "id",
                                      "ref",
                                      "type",
                                      "title",
                                      "required"
                                    ],
                                    "additionalProperties": {}
                                  },
                                  "ending": {
                                    "type": "object",
                                    "properties": {
                                      "ref": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "bodyMd": {
                                        "type": "string"
                                      },
                                      "kind": {
                                        "type": "string",
                                        "enum": [
                                          "success",
                                          "screen_out"
                                        ]
                                      },
                                      "requirements": {
                                        "type": "array",
                                        "items": {}
                                      }
                                    },
                                    "required": [
                                      "ref",
                                      "title"
                                    ],
                                    "additionalProperties": {}
                                  }
                                },
                                "required": [
                                  "kind"
                                ],
                                "additionalProperties": {}
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "complete_ready": {
                            "type": "boolean"
                          },
                          "missing_required": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ref": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "ref",
                                "title"
                              ]
                            }
                          },
                          "off_path_answers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ref": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {}
                              },
                              "required": [
                                "ref",
                                "type",
                                "value"
                              ]
                            }
                          },
                          "recorded": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ref": {
                                  "type": "string"
                                },
                                "value": {}
                              },
                              "required": [
                                "ref",
                                "value"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "form_id",
                          "status",
                          "source",
                          "mode",
                          "started_at",
                          "updated_at",
                          "completed_at",
                          "expires_at",
                          "duration_ms",
                          "ending_ref",
                          "abandon_reason",
                          "metadata",
                          "progress",
                          "variables",
                          "hidden_fields",
                          "next",
                          "complete_ready",
                          "missing_required",
                          "off_path_answers"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed cursor"
          },
          "402": {
            "description": "Reading partial responses needs a plan that includes them"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "x-required-scope": "response:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers": {
      "post": {
        "operationId": "postV1ResponsesByIdAnswers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "answers": {
                        "minItems": 1,
                        "maxItems": 200,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ref": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": [
                            "ref",
                            "value"
                          ]
                        }
                      }
                    },
                    "required": [
                      "answers"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "ref": {
                        "type": "string"
                      },
                      "value": {}
                    },
                    "required": [
                      "ref",
                      "value"
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Record one or more answers on an open response",
        "responses": {
          "200": {
            "description": "Updated response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "response"
                    },
                    "form_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in_progress",
                        "completed",
                        "abandoned",
                        "disqualified"
                      ]
                    },
                    "source": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    },
                    "updated_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "duration_ms": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ending_ref": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "abandon_reason": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "channel": {
                              "type": "string",
                              "enum": [
                                "link",
                                "inline",
                                "popup",
                                "side_tab",
                                "fullpage",
                                "embed",
                                "api"
                              ]
                            },
                            "pageUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrer": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrerHost": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "utm": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "language": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "screen": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "enum": [
                                        "mobile",
                                        "tablet",
                                        "desktop",
                                        "bot"
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browser": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browserVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "os": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "osVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "browser",
                                "browserVersion",
                                "os",
                                "osVersion"
                              ]
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "region": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "regionCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "postalCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "latitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "longitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "continent": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "timezone": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "country",
                                "region",
                                "regionCode",
                                "city",
                                "postalCode",
                                "latitude",
                                "longitude",
                                "continent",
                                "timezone"
                              ]
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "asn": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "organization": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "asn",
                                "organization"
                              ]
                            }
                          },
                          "required": [
                            "channel",
                            "pageUrl",
                            "referrer",
                            "referrerHost",
                            "utm",
                            "language",
                            "screen",
                            "timezone",
                            "device",
                            "geo",
                            "network"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "answered": {
                          "type": "number"
                        },
                        "totalEstimate": {
                          "type": "number"
                        },
                        "pct": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "answered",
                        "totalEstimate",
                        "pct"
                      ]
                    },
                    "variables": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "hidden_fields": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "next": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "block": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "ref": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "imageKey": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "media": {}
                              },
                              "required": [
                                "id",
                                "ref",
                                "type",
                                "title",
                                "required"
                              ],
                              "additionalProperties": {}
                            },
                            "ending": {
                              "type": "object",
                              "properties": {
                                "ref": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "bodyMd": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "success",
                                    "screen_out"
                                  ]
                                },
                                "requirements": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "required": [
                                "ref",
                                "title"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "kind"
                          ],
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "complete_ready": {
                      "type": "boolean"
                    },
                    "missing_required": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "ref",
                          "title"
                        ]
                      }
                    },
                    "off_path_answers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "answers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "value": {}
                        },
                        "required": [
                          "ref",
                          "type",
                          "value"
                        ]
                      }
                    },
                    "recorded": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "value": {}
                        },
                        "required": [
                          "ref",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "form_id",
                    "status",
                    "source",
                    "mode",
                    "started_at",
                    "updated_at",
                    "completed_at",
                    "expires_at",
                    "duration_ms",
                    "ending_ref",
                    "abandon_reason",
                    "metadata",
                    "progress",
                    "variables",
                    "hidden_fields",
                    "next",
                    "complete_ready",
                    "missing_required",
                    "off_path_answers"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Response not found"
          },
          "409": {
            "description": "The response is no longer open"
          },
          "422": {
            "description": "An answer was rejected"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers/{ref}": {
      "delete": {
        "operationId": "deleteV1ResponsesByIdAnswersByRef",
        "tags": [
          "v1"
        ],
        "summary": "Retract one answer, moving the flow back to it",
        "responses": {
          "200": {
            "description": "Updated response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "response"
                    },
                    "form_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in_progress",
                        "completed",
                        "abandoned",
                        "disqualified"
                      ]
                    },
                    "source": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    },
                    "updated_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "duration_ms": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ending_ref": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "abandon_reason": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "channel": {
                              "type": "string",
                              "enum": [
                                "link",
                                "inline",
                                "popup",
                                "side_tab",
                                "fullpage",
                                "embed",
                                "api"
                              ]
                            },
                            "pageUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrer": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "referrerHost": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "utm": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "language": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "screen": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "enum": [
                                        "mobile",
                                        "tablet",
                                        "desktop",
                                        "bot"
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browser": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "browserVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "os": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "osVersion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "browser",
                                "browserVersion",
                                "os",
                                "osVersion"
                              ]
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "region": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "regionCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "postalCode": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "latitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "longitude": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "continent": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "timezone": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "country",
                                "region",
                                "regionCode",
                                "city",
                                "postalCode",
                                "latitude",
                                "longitude",
                                "continent",
                                "timezone"
                              ]
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "asn": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "organization": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "asn",
                                "organization"
                              ]
                            }
[...]
