{
  "openapi": "3.1.0",
  "info": {
    "title": "chatform API",
    "description": "Agentic chatbot forms platform. /p/* = public respondent surface, /v1/* = developer API (API key), /api/* = dashboard (session auth).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chatform.in",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "v1",
      "description": "Developer API — API key auth"
    },
    {
      "name": "public",
      "description": "Respondent chat surface"
    },
    {
      "name": "health",
      "description": "Service health"
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_live_…",
        "description": "A server-side secret key. Never send one from a browser — a request carrying an Origin header is refused for this reason."
      },
      "publishableKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pk_live_…",
        "description": "A browser-safe key, restricted to the origins listed on it."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "The same keys, in the header most integrators reach for first."
      },
      "respondentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-respondent-token",
        "description": "Scoped to one chat session, and it expires. This is what a browser should hold."
      },
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "The dashboard's own session."
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "health"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "env": {
                      "type": "string"
                    },
                    "db": {
                      "type": "string"
                    },
                    "ts": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "ok",
                    "env",
                    "db",
                    "ts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/{id}/responses": {
      "post": {
        "operationId": "postV1FormsByIdResponses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "default": {},
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "hiddenFields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "complete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "mode": {
                    "default": "flow",
                    "type": "string",
                    "enum": [
                      "flow",
                      "free"
                    ]
                  },
                  "expiresIn": {
                    "default": 86400,
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 2592000
                  },
                  "respondent": {
                    "type": "object",
                    "properties": {
                      "ipHash": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 8
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 300
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Open a response (optionally with answers, optionally completing it)",
        "responses": {
          "201": {
            "description": "Response"
          },
          "404": {
            "description": "Form not found"
          },
          "422": {
            "description": "An answer was rejected, or required questions are unanswered"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "get": {
        "operationId": "getV1FormsByIdResponses",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "test",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "updated_since",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "ending_ref",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "created",
              "type": "string",
              "enum": [
                "created",
                "updated"
              ]
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List a form's responses, newest first",
        "responses": {
          "200": {
            "description": "A page of responses"
          },
          "400": {
            "description": "Malformed cursor"
          },
          "402": {
            "description": "Reading partial responses needs a plan that includes them"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "x-required-scope": "response:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers": {
      "post": {
        "operationId": "postV1ResponsesByIdAnswers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "answers": {
                        "minItems": 1,
                        "maxItems": 200,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ref": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": [
                            "ref",
                            "value"
                          ]
                        }
                      }
                    },
                    "required": [
                      "answers"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "ref": {
                        "type": "string"
                      },
                      "value": {}
                    },
                    "required": [
                      "ref",
                      "value"
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Record one or more answers on an open response",
        "responses": {
          "200": {
            "description": "Updated response"
          },
          "404": {
            "description": "Response not found"
          },
          "409": {
            "description": "The response is no longer open"
          },
          "422": {
            "description": "An answer was rejected"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/answers/{ref}": {
      "delete": {
        "operationId": "deleteV1ResponsesByIdAnswersByRef",
        "tags": [
          "v1"
        ],
        "summary": "Retract one answer, moving the flow back to it",
        "responses": {
          "200": {
            "description": "Updated response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "ref",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/complete": {
      "post": {
        "operationId": "postV1ResponsesByIdComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endingRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Complete a response",
        "responses": {
          "200": {
            "description": "Completed response with its ending"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Already finished"
          },
          "422": {
            "description": "Required questions are unanswered"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/abandon": {
      "post": {
        "operationId": "postV1ResponsesByIdAbandon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Abandon an unfinished response",
        "responses": {
          "200": {
            "description": "Abandoned response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "operationId": "getV1ResponsesById",
        "tags": [
          "v1"
        ],
        "summary": "Read one response",
        "responses": {
          "200": {
            "description": "Response"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/responses/{id}/next": {
      "get": {
        "operationId": "getV1ResponsesByIdNext",
        "tags": [
          "v1"
        ],
        "summary": "Where the flow is waiting on this response",
        "responses": {
          "200": {
            "description": "The next question, or the ending"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/blocks": {
      "get": {
        "operationId": "getV1Blocks",
        "tags": [
          "v1"
        ],
        "summary": "Every block type: config schema, what you receive, what you send",
        "responses": {
          "200": {
            "description": "The block catalog"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/blocks/{type}": {
      "get": {
        "operationId": "getV1BlocksByType",
        "tags": [
          "v1"
        ],
        "summary": "One block type",
        "responses": {
          "200": {
            "description": "Block type"
          },
          "404": {
            "description": "No such block type"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "type",
            "required": true
          }
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "operationId": "getV1Events",
        "tags": [
          "v1"
        ],
        "summary": "The webhook event catalog",
        "responses": {
          "200": {
            "description": "Events"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getV1Me",
        "tags": [
          "v1"
        ],
        "summary": "Who this key is, what it may do, and what is left of the plan",
        "responses": {
          "200": {
            "description": "Key identity"
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "operationId": "getV1Forms",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "default": "published",
              "type": "string",
              "enum": [
                "draft",
                "published",
                "archived",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List forms",
        "responses": {
          "200": {
            "description": "A page of forms"
          },
          "400": {
            "description": "Malformed cursor"
          }
        },
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "operationId": "postV1Forms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "doc": {}
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Create a form",
        "responses": {
          "201": {
            "description": "Created"
          },
          "422": {
            "description": "The document is invalid"
          }
        },
        "x-required-scope": "form:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}": {
      "get": {
        "operationId": "getV1FormsById",
        "tags": [
          "v1"
        ],
        "summary": "Read a form — its public config, or the document behind it",
        "responses": {
          "200": {
            "description": "Form"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteV1FormsById",
        "tags": [
          "v1"
        ],
        "summary": "Delete a form (soft — responses are kept)",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/doc": {
      "put": {
        "operationId": "putV1FormsByIdDoc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc": {}
                },
                "required": [
                  "doc"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Replace the working document, returning lint issues",
        "responses": {
          "200": {
            "description": "Saved, with issues"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Invalid"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/unpublish": {
      "post": {
        "operationId": "postV1FormsByIdUnpublish",
        "tags": [
          "v1"
        ],
        "summary": "Take a published form off the air, keeping its version and responses",
        "responses": {
          "200": {
            "description": "Unpublished"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "The form is not published"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:publish",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/publish": {
      "post": {
        "operationId": "postV1FormsByIdPublish",
        "tags": [
          "v1"
        ],
        "summary": "Publish the working document as a new immutable version",
        "responses": {
          "200": {
            "description": "Published"
          },
          "402": {
            "description": "A plan limit refuses the publish"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Lint errors"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:publish",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/analytics": {
      "get": {
        "operationId": "getV1FormsByIdAnalytics",
        "tags": [
          "v1"
        ],
        "summary": "Counts, per-question funnel and answer distributions",
        "responses": {
          "200": {
            "description": "Analytics"
          },
          "402": {
            "description": "The per-question detail needs a plan that includes it"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "analytics:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/followup-analytics": {
      "get": {
        "operationId": "getV1FormsByIdFollowupAnalytics",
        "tags": [
          "v1"
        ],
        "summary": "Follow-up recovery report (sent, clicked, recovered, holdout lift)",
        "responses": {
          "200": {
            "description": "Recovery report"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "analytics:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/templates": {
      "get": {
        "operationId": "getV1Templates",
        "tags": [
          "v1"
        ],
        "summary": "List the official form templates, most used first",
        "responses": {
          "200": {
            "description": "Templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "blurb": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "icon": {
                        "type": "string"
                      },
                      "accent": {
                        "type": "string"
                      },
                      "blockCount": {
                        "type": "number"
                      },
                      "estMinutes": {
                        "type": "number"
                      },
                      "usageCount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "slug",
                      "title",
                      "category",
                      "description",
                      "blurb",
                      "tags",
                      "icon",
                      "accent",
                      "blockCount",
                      "estMinutes",
                      "usageCount"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/templates/{slug}": {
      "get": {
        "operationId": "getV1TemplatesBySlug",
        "tags": [
          "v1"
        ],
        "summary": "One template, including the document it would create",
        "description": "Read this before `POST /v1/templates/{slug}/use` if you want to see or adapt the questions rather than take them as they are.",
        "responses": {
          "200": {
            "description": "Template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "blurb": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "icon": {
                      "type": "string"
                    },
                    "accent": {
                      "type": "string"
                    },
                    "blockCount": {
                      "type": "number"
                    },
                    "estMinutes": {
                      "type": "number"
                    },
                    "usageCount": {
                      "type": "number"
                    },
                    "doc": {}
                  },
                  "required": [
                    "slug",
                    "title",
                    "category",
                    "description",
                    "blurb",
                    "tags",
                    "icon",
                    "accent",
                    "blockCount",
                    "estMinutes",
                    "usageCount",
                    "doc"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/templates/{slug}/use": {
      "post": {
        "operationId": "postV1TemplatesBySlugUse",
        "parameters": [
          {
            "in": "query",
            "name": "workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "Create a draft form from a template",
        "description": "Creates a draft, exactly as `POST /v1/forms` does — publish it when you are ready. Omit `workspace` to use the organization's first.",
        "responses": {
          "200": {
            "description": "The created form"
          },
          "402": {
            "description": "A plan limit refuses another form"
          },
          "404": {
            "description": "Template or workspace not found"
          }
        },
        "x-required-scope": "form:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/versions": {
      "get": {
        "operationId": "getV1FormsByIdVersions",
        "tags": [
          "v1"
        ],
        "summary": "Every published version of a form, newest first",
        "description": "Each version carries the number of completed responses recorded against it — a version nobody answered can be replaced freely; one with responses behind it is the schema those answers were recorded against.",
        "responses": {
          "200": {
            "description": "Versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "number"
                      },
                      "versionId": {
                        "type": "string"
                      },
                      "note": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "publishedAt": {
                        "type": "number"
                      },
                      "authorLabel": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "changeCount": {
                        "type": "number"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "responses": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "version",
                      "versionId",
                      "note",
                      "publishedAt",
                      "authorLabel",
                      "changeCount",
                      "isActive",
                      "responses"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/versions/{version}": {
      "get": {
        "operationId": "getV1FormsByIdVersionsByVersion",
        "parameters": [
          {
            "in": "query",
            "name": "compare",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "version",
            "required": true
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "One published version, optionally diffed against another",
        "description": "Pass `compare` with another version number to get the list of changes between them.",
        "responses": {
          "200": {
            "description": "The published document, plus a diff when `compare` is given"
          },
          "404": {
            "description": "No such form or version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "x-required-scope": "form:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/versions/{version}/restore": {
      "post": {
        "operationId": "postV1FormsByIdVersionsByVersionRestore",
        "tags": [
          "v1"
        ],
        "summary": "Restore a published version into the working document",
        "description": "Writes the draft, not the live form — respondents see nothing change until you publish. Returns the restored document and what it changed.",
        "responses": {
          "200": {
            "description": "The draft now matches that version"
          },
          "404": {
            "description": "No such form or version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "That version cannot be read",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "version",
            "required": true
          }
        ],
        "x-required-scope": "form:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ai/generate-form": {
      "post": {
        "operationId": "postV1AiGenerateForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 2000
                  },
                  "questionCount": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 19
                  },
                  "workspaceId": {
                    "type": "string"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Generate a form document from a natural-language prompt",
        "description": "Returns a document and its lint issues **without saving anything** — pass the result to `POST /v1/forms` to keep it. Consumes one `ai_generations` unit and the tokens it costs, charged only when a usable document comes back. If you are already driving this from a model of your own, writing the document yourself and posting it to `/v1/forms` costs you nothing here.",
        "responses": {
          "200": {
            "description": "The generated document, its lint issues, and the tokens spent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc": {},
                    "issues": {
                      "type": "array",
                      "items": {}
                    },
                    "tokens": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "doc",
                    "issues",
                    "tokens"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of generations for this billing period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the ai:generate scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Generation failed after retries"
          },
          "503": {
            "description": "AI is not configured on this deployment"
          }
        },
        "x-required-scope": "ai:generate",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ai/edit-form": {
      "post": {
        "operationId": "postV1AiEditForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 1000
                  },
                  "history": {
                    "default": [],
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "text": {
                          "type": "string",
                          "maxLength": 2000
                        }
                      },
                      "required": [
                        "role",
                        "text"
                      ]
                    }
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "formId",
                  "prompt"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Ask a model to change an existing form: add, edit or remove questions and rewire the flow",
        "description": "Returns the proposed document **without saving it** — send it to `PUT /v1/forms/{id}/doc` to keep it. An edit may add no questions at all: most requests about a working form change the routing rather than the wording. Pass `history` (oldest first) when this is a follow-up, or the model cannot resolve 'also', 'it' or 'instead'.",
        "responses": {
          "200": {
            "description": "The proposed document and what changed"
          },
          "402": {
            "description": "Out of generations for this billing period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the ai:generate scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request would change nothing"
          },
          "502": {
            "description": "Generation failed after retries"
          }
        },
        "x-required-scope": "ai:generate",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/integrations": {
      "get": {
        "operationId": "getV1FormsByIdIntegrations",
        "tags": [
          "v1"
        ],
        "summary": "A form's non-webhook integrations",
        "description": "Currently just the spreadsheet feed, if one exists. An empty array means no feed has been created.",
        "responses": {
          "200": {
            "description": "Integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "feedUrl": {
                        "type": "string"
                      },
                      "includePartials": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "provider",
                      "status",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/integrations/spreadsheet": {
      "put": {
        "operationId": "putV1FormsByIdIntegrationsSpreadsheet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includePartials": {
                    "type": "boolean"
                  },
                  "rotate": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Create, update or rotate the spreadsheet feed",
        "description": "Idempotent by nature — one feed per form — which is why this is a PUT. The returned `feedUrl` is a live CSV a spreadsheet can re-read on a schedule; it is unauthenticated, so the URL is the whole credential. Send `rotate: true` to invalidate the previous one.",
        "responses": {
          "200": {
            "description": "The feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "feedUrl": {
                      "type": "string"
                    },
                    "includePartials": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "provider",
                    "status",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Including unfinished responses needs a plan that allows it",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteV1FormsByIdIntegrationsSpreadsheet",
        "tags": [
          "v1"
        ],
        "summary": "Revoke the spreadsheet feed",
        "description": "The URL stops working immediately. Any spreadsheet reading it will start failing to refresh.",
        "responses": {
          "200": {
            "description": "Revoked"
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ref": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "getV1Webhooks",
        "tags": [
          "v1"
        ],
        "summary": "List webhook endpoints",
        "responses": {
          "200": {
            "description": "Endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "formId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "consecutiveFailures": {
                        "type": "number"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "secretPreview": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "events",
                      "formId",
                      "active",
                      "consecutiveFailures",
                      "createdAt",
                      "secretPreview"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "webhook:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "operationId": "postV1Webhooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 2000,
                    "format": "uri"
                  },
                  "events": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "formId": {
                    "type": "string",
                    "maxLength": 64
                  }
                },
                "required": [
                  "url",
                  "events"
                ]
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Create a webhook endpoint — the signing secret is returned ONCE",
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Form not found"
          },
          "422": {
            "description": "Unknown event name"
          }
        },
        "x-required-scope": "webhook:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "operationId": "deleteV1WebhooksById",
        "tags": [
          "v1"
        ],
        "summary": "Delete a webhook endpoint",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "webhook:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "getV1WebhooksByIdDeliveries",
        "tags": [
          "v1"
        ],
        "summary": "Recent delivery attempts, for working out why an endpoint is quiet",
        "responses": {
          "200": {
            "description": "Deliveries"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "webhook:read",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}/deliveries/{deliveryId}/replay": {
      "post": {
        "operationId": "postV1WebhooksByIdDeliveriesByDeliveryIdReplay",
        "tags": [
          "v1"
        ],
        "summary": "Replay one delivery",
        "responses": {
          "200": {
            "description": "Queued"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Nothing to replay"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deliveryId",
            "required": true
          }
        ],
        "x-required-scope": "webhook:write",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/forms/{id}/exports": {
      "post": {
        "operationId": "postV1FormsByIdExports",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "default": "csv",
                    "type": "string",
                    "enum": [
                      "csv",
                      "json"
                    ]
                  },
                  "status": {
                    "maxItems": 6,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test",
                      "all"
                    ]
                  },
                  "created_after": {
                    "type": "number"
                  },
                  "created_before": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "summary": "Start an export of a form's responses",
        "description": "Returns immediately with a queued export. Poll `GET /v1/exports/{id}` until `status` is `ready`, then follow `download_url`.",
        "responses": {
          "202": {
            "description": "Export queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "export"
                    },
                    "form_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "ready",
                        "failed"
                      ]
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "csv",
                        "json"
                      ]
                    },
                    "row_count": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bytes": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "download_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "download_expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "form_id",
                    "status",
                    "format",
                    "row_count",
                    "bytes",
                    "error",
                    "created_at",
                    "completed_at",
                    "expires_at",
                    "download_url",
                    "download_expires_at"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Exporting unfinished responses needs a plan that includes them"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/exports/{id}": {
      "get": {
        "operationId": "getV1ExportsById",
        "tags": [
          "v1"
        ],
        "summary": "Check an export and get its download link",
        "description": "Poll until `status` is `ready`, then follow `download_url`. A `failed` export carries the reason in `error`. The link is re-minted on every read, so read again rather than storing one.",
        "responses": {
          "200": {
            "description": "The export",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "export"
                    },
                    "form_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "ready",
                        "failed"
                      ]
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "csv",
                        "json"
                      ]
                    },
                    "row_count": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bytes": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "download_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "download_expires_at": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "form_id",
                    "status",
                    "format",
                    "row_count",
                    "bytes",
                    "error",
                    "created_at",
                    "completed_at",
                    "expires_at",
                    "download_url",
                    "download_expires_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Export not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/exports": {
      "get": {
        "operationId": "getV1Exports",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "List recent exports",
        "description": "Newest first, optionally narrowed to one form. Exports are deleted 24 hours after they are requested, so this is a short window rather than a history.",
        "responses": {
          "200": {
            "description": "Exports, newest first"
          }
        },
        "x-required-scope": "response:export",
        "security": [
          {
            "secretKey": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/files/{id}": {
      "get": {
        "operationId": "getV1FilesById",
        "tags": [
          "v1"
        ],
        "summary": "A respondent's uploaded file, with a short-lived download link",
        "description": "File-upload answers carry a `fileId`. This resolves one to its metadata and a signed URL that needs no API key — safe to hand to a browser, and expired within minutes.",
        "responses": {
          "200": {
            "description": "The file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "file"
                    },
                    "form_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "response_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "filename": {
                      "type": "string"
                    },
                    "mime": {
                      "type": "string"
                    },
                    "size_bytes": {
                      "type": "number"
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "download_url": {
                      "type": "string"
                    },
                    "download_expires_at": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "form_id",
[...]
